//当HTML的data-theme为dark时，样式引用dark
//data-theme为其他值时，就采用组件库的默认样式
//这里我只定义了两套主题方案，想要再多只需在`$themes`里加就行了
//注意一点是，每套配色方案里的key可以自定义但必须一致，不然就会混乱

$themes: (
  dark: (
    opacity_num: 0.6,
    //字体
      // 已使用
      font_isRead_color: #445578,
    font_more_color: #fff,
    font_color_header: #b0c0d3,
    font_color_p: #b0c0d3,
    font_color1: #b0c0d3,
    //333333
      font_color2: #fff,
    font_color3: #0179f9,
    font_color4: #445578,
    font_color5: #fff,
    font_color6: #fff,
    font_color7: #fff,
    font_color8: #b0c0d3,
    //333
      font_color9: #333333,
    font_color10: #ffffff,
    font_color11: #b0c0d3,
    font_color12: #a8bacf,
    font_color13: #9bacc0,
    font_active_color: #0179f9,
    font_more_hover_color: #445578,
    // 未使用
      font_color14: #a8bacf,
    font_color15: #ddeaf9,
    font_color16: #a2b3ce,
    font_color17: #ffffff,
    //#666666
      font_color18: #ffffff,
    font_color19: #9bacc0,
    font_color_reject: #d6380f,
    font_color_resolve: #08a895,
    font_color_login2: #fff,
    // 已使用
      font_color_login: #8596a9,
    font_color_tabs: #fff,
    font_color_login3: #0179f9,
    font_menu_color: #8596a9,
    font_table_color: #b0c0d3,
    font_table_header_color: #909399,
    font_page_active_color: #fff,
    font_page_hover_color: #b0c0d3,
    font_page_color: #a6b5c8,
    font_link_color: #fff,
    font_color_gray: #445578,
    //背景
      // 已使用
      background_point_color: #484848,
    background_table_color: #0f151e,
    background_table_color2: #192538,
    background_table_hover_color: #0179f9,
    //dce1e8
      background_color1: #080b0e,
    background_transfer_color: #080b0e,
    background_color2: #0f151e,
    //ffffff
      background_color3: #0179f9,
    background_color4: #0f151e,
    background_color5: #192538,
    //eaeef3
      background_color6: #192538,
    background_color7: #0f1826,
    background_color9: #0179f9,
    background_color10: #0f151e,
    background_color11: #a2b3ce,
    background_color12: #0f151e,
    background_color13: #192538,
    background_color14: #0f151e,
    background_color15: #192538,
    background_color16: #1e2e4d,
    background_color17: #0f151e,
    background_color18: #0f151e,
    background_menu_color: #0f151e,
    background_main_color: #0f151e,
    background_box_color: #0f151e,
    background_box_color2: #192538,
    background_color8: #a2b3ce,
    background_color21: #113d72,
    background_color_login: #e7eaf0,
    background_color_login2: #fff,
    background_color_login3: #0179f9,
    background_isRead_color: #06309a,
    background_color: #192538,
    background_page_color: #0f151e,
    background_page_color2: #192538,
    background_page_hover_color: #0179f9,
    background_page_color3: #192538,
    background_page_active_color: #0179f9,
    background_page_active_color2: #0f151e,
    background_page_input_color: #0f151e,
    background_mask_color: #0f151e,
    background_tag_color: #0a325f,
    // 未使用
      background_color19: #0f1826,
    background_color20: #a24fff,
    background_color22: #d8d8d8,
    background_color23: #07488d,
    background_orange: #ffbc34,
    background_blue: #0270d1,
    background_black: #000,
    background_reslove: #08a895,
    background_reject: #d6380f,
    background_warning: #e77628,
    //边框
      // 已使用
      border_page_input_color: #0f151e,
    border_page_input_color2: #192538,
    border_page_input_color3: #0f151e,
    border_page_input_color4: #192538,
    border_color2: #0f151e,
    border_color3: #000,
    border_color4: #080b0e,
    border_color5: #a2b3ce,
    border_color6: #192538,
    border_color7: #192538,
    border_color11: #1e2e4d,
    // 未使用
      border_color1: #0179f9,
    border_color8: #2d77d2,
    border_color9: #03bfd1,
    border_color10: #213f6e,
    border_color12: #0179f9,
    border_color13: #192538,
    border_color14: #0f151e,
    border_color15: #070a0f,
    border_color16: #070a0f,
    border_color17: #0179f9,
    //DCE1E8
      border_color18: #1e2e4d,
    //dce1e8
      border_color21: #fff,
    border_color22: #fff,
    border_color_login: #d9d9d9,
    border_color_login2: #0179f9,
    // background_image: url("./../assets/img/empty-dark.png"),
    box_shadow: 0px 0px 10px rgb(0, 0, 0 / 60%),
    box_shadow2: 10px 0px 10px rgb(0, 0, 0 / 60%),
    box_shadow3: 0px 0px 0px 0px transparent,
    border_color19: transparent transparent #192538,
    border_color20: #192538 transparent transparent,
    //fff,,,,,,,,,,,,
  ),
  light: (
    opacity_num: 0.3,
    // background_image: url("./../assets/img/empty-light.png"),
    //字体
      font_more_hover_color: #666666,
    font_color_gray: #c9c9c9,
    font_active_color: #0179f9,
    font_color_tabs: #8596a9,
    font_more_color: #999999,
    font_color1: #333333,
    font_color_header: #fff,
    font_color_p: #666666,
    font_isRead_color: #999999,
    font_color2: #333333,
    font_color3: #0179f9,
    font_color4: #999,
    font_color5: #0179f9,
    font_color6: #0179f9,
    font_color7: #333333,
    font_color8: #333333,
    font_color9: #333333,
    font_color10: #333333,
    font_color11: black,
    font_color12: #666666,
    font_color13: #333333,
    //9bacc0
      font_color14: #a8bacf,
    font_color15: #ddeaf9,
    font_color16: #a2b3ce,
    font_color17: #666666,
    font_color18: #0179f9,
    font_color19: #999999,
    font_color_reject: #d6380f,
    font_color_resolve: #08a895,
    font_color_login2: #fff,
    // 已使用
      font_color_login: #fff,
    font_color_login3: #fff,
    font_menu_color: #333,
    font_table_color: #666,
    font_table_header_color: #333,
    font_page_active_color: #ffffff,
    font_page_color: #037af8,
    font_page_hover_color: #fff,
    font_link_color: #409eff,
    //背景
      // 已使用
      background_point_color: #ddd,
    background_page_active_color: #0179f9,
    background_page_active_color2: #eaeef3,
    background_table_color: #fff,
    background_table_color2: #fff,
    background_table_hover_color: #dce1e8,
    background_transfer_color: #fff,
    background_color1: #2769f7,
    background_color2: #fff,
    background_page_color: #eaeef3,
    background_page_color2: #eaeef3,
    background_page_hover_color: #0d5ee3,
    background_page_color3: #edf0f3,
    background_color: #eaeef3,
    background_color3: #eaeef3,
    background_color5: #eaeef3,
    background_color6: #eaeef3,
    background_color7: #fff,
    background_color9: #0179f9,
    background_color10: #eaeef3,
    background_color11: #fff,
    background_color12: #fff,
    background_color13: #eaeef3,
    background_color14: #fff,
    background_color15: #fff,
    background_color16: #eaeef3,
    background_color17: #d0dae7,
    background_color18: #fff,
    background_menu_color: #dce1e8,
    background_color4: #eaeef3,
    background_tag_color: #0179f9,
    background_mask_color: #fff,
    background_main_color: #eaeef3,
    background_box_color: #fff,
    background_box_color2: #fff,
    background_color8: #fff,
    background_color21: #dce1e8,
    background_page_input_color: #fff,
    // 未使用
      background_color19: #0f1826,
    background_color20: #a24fff,
    background_color22: #d8d8d8,
    background_color23: #07488d,
    background_orange: #ffbc34,
    background_blue: #0270d1,
    background_black: #000,
    background_reslove: #08a895,
    background_reject: #d6380f,
    background_warning: #e77628,
    // 已使用
      background_color_login: #fff,
    background_color_login2: #e1e4e9,
    background_color_login3: #0179f9,
    background_isRead_color: #7fa7ff,
    //边框
      // 已使用
      border_page_input_color: #fff,
    border_page_input_color2: #fff,
    border_page_input_color3: #0179f9,
    border_page_input_color4: #0179f9,
    border_color2: #d0dae7,
    border_color3: #d0dae7,
    border_color4: #d0dae7,
    border_color5: #d0dae7,
    border_color6: #d0dae7,
    border_color7: #d0dae7,
    border_color11: #fff,
    border_color14: #fff,
    // 未使用
      border_color1: #0179f9,
    border_color8: #2d77d2,
    border_color9: #03bfd1,
    border_color10: #213f6e,
    border_color12: #0179f9,
    border_color13: #192538,
    border_color15: #d0dae7,
    border_color16: #ffffff,
    border_color17: #dce1e8,
    border_color18: #eaeef3,
    border_color19: transparent transparent #fff,
    border_color20: #fff transparent transparent,
    border_color22: #333,
    border_color21: #0179f9,
    border_color_login: #d9d9d9,
    border_color_login2: #0179f9,
    box_shadow2: 10px 0px 10px rgba(217, 217, 217, 0.8),
    box_shadow: 0px 0px 10px rgba(217, 217, 217, 0.8),
    box_shadow3: 0px 2px 4px 0px #bbc7d6,
  ),
);
